header {
	background: #004b60; /*Color Omar: #834d35.. Color Fraankaf: #f0ddcf  #407acb  #010f3e #e85543*/
	color:#fff;
}

aside {
	background: #f0ddcf;
}

.main {
	background: #f2f2f2;
}

.dinero_actual {
	background: #fff;
	color: #000;
}

.dinero_abonado {
	background: #fff;
}

footer {
	background: #453648;
	color: #fff;
}